*.gem
*.rbc
*.sw*
.bundle
.config
.yardoc
.ruby-version
Gemfile.lock
InstalledFiles
_yardoc
coverage/
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test/log
log/*.log
test_db
test_db-journal
test/test_db-shm
test/test_db-wal
.idea
*.iml
